@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");

.profile-card-holder {
	position: relative;
	width: 90%;
	margin-inline: auto;
	/*border: 1px solid white;*/
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.profile-card {
	position: relative;
	top: 0;
	font-size: 1rem;
	height: 23em;
	width: 18em;
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 1em;
	margin: 2em 1em;
	transition: all 0.3s linear;
}

.person {
	position: absolute;
	width: 8.3em;
	height: 8.3em;
	top: 3em;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid rgba(0, 0, 0, 0.3);
	opacity: 0.65;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 10px solid white;*/
}

.person img {
	width: 105%;
	height: 105%;
	transition: all 0.5s ease-out;
}

.social-media-links {
	position: absolute;
	left: 0;
	top: 17em;
	height: 5em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1px solid white;*/
}

.social-links {
	position: relative;
	top: 5em;
	font-size: 1rem;
	height: 2.2em;
	width: 2.2em;
	/*border: 1px solid white;*/
	margin: 0 0.7em;
	transition: all 0.27s ease-in-out;
	opacity: 0;
	border-radius: 50%;
	cursor: pointer;
}

.linkedin {
	transition-delay: 0.135s;
}

.insta {
	transition-delay: 0.27s;
}

.tw {
	transition-delay: 0.405s;
}

.profile-card:hover .social-links {
	top: 0;
	opacity: 1;
}

.profile-card:hover {
	top: -1.5em;
}

.profile-card:hover .person {
	top: 2em;
	opacity: 1;
	box-shadow: 0 0 2em 0.2em rgba(0, 0, 0, 0.5);
}

.profile-details {
	position: absolute;
	left: 0;
	top: 12em;
	width: 100%;
	height: auto;
	/*border: 1px solid white;*/
	z-index: -1;
	opacity: 0.65;
	transition: all 0.4s ease-in-out;
}

.person-name {
	position: relative;
	top: -0.5em;
	width: 100%;
	font-size: 1.9rem;
	color: #fff;
	/*border: 1px solid white;*/
	font-family: "Charmonman", cursive;
	text-align: center;
	margin-bottom: -0.5em;
}

.person-role {
	position: relative;
	top: -1.2em;
	width: 100%;
	font-size: 1.1rem;
	color: #fff;
	/*border: 1px solid white;*/
	font-family: "Josefin Sans", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
}

.profile-card:hover .profile-details {
	top: 11em;
	opacity: 1;
	transform-origin: center;
	transform: scale(0.85);
}

.company-body {
	position: relative;
	width: 95%;
	margin-inline: auto;
	height: fit-content;
	/*border: 1px solid white;*/
	padding-bottom: 2em;
}

.company-title {
	font-family: "Charmonman", cursive;
	font-size: 2.5rem;
	color: #b2a2b7;
	/*border: 1px solid white;*/
	text-align: center;
}

.company-text {
	position: relative;
	width: 75%;
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.6);
	/*border: 1px solid white;*/
	margin: auto;
	font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 1200px) {
	.company-text {
		width: 90%;
	}
}

@media only screen and (max-width: 420px) {
	.company-card {
		width: 18em;
		height: 10.5em;
	}
}
