@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&family=Russo+One&family=Sigmar+One&family=Signika+Negative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.body {
	width: 95%;
	font-size: 1rem;
	height: fit-content;
	display: flex;
	justify-content: space-around;
	padding-left: 2em;
	/*border: 1px solid white;*/
	margin-inline: auto;
}

.introbody {
	position: relative;
	width: 45%;
	padding-top: 5em;
	/*border: 1px solid white;*/
	padding-left: 6em;
	display: flex;
	flex-direction: column;
}

.intro {
	padding-bottom: 2em;
}

.choice,
.title,
.introMsg {
	position: relative;
	color: #fff;
}

.choice {
	font-size: 0.8rem;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.2em;
}

.title {
	font-family: "Russo One", sans-serif;
	font-size: 2.4rem;
	top: -0.5em;
}

.introMsg {
	font-size: 0.965rem;
	font-family: "Poppins", sans-serif;
	padding-right: 12em;
	top: -2.5em;
}

.productIntro {
	position: relative;
	width: 100%;
	overflow: hidden;
	/*border: 1px solid wheat;*/
}

.introlower {
	position: relative;
	width: 100%;
	/*border: 1px solid white;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.man {
	position: relative;
	width: 17.5em;
	height: 17.5em;
	bottom: -0.28px;
	left: -1.8em;
	cursor: pointer;
}

.manapp {
	position: relative;
	width: 60%;
	height: 100%;
	/*border: 1px solid white;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app,
.appdes {
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	line-height: 1.5em;
}

.app {
	color: #e24354;
	font-weight: bolder;
}

.appdes {
	color: rgb(116, 116, 116);
	opacity: 1;
	font-size: 1rem;
}

.appdownload {
	font-family: "Josefin Sans", sans-serif;
	color: #fff;
	opacity: 0.8;
}

.dlines {
	line-height: 0.4em;
}

.music {
	position: relative;
}

.musicplayer {
	position: absolute;
	font-size: 1rem;
	width: 3em;
	height: 3em;
	left: 43%;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.play {
	opacity: 0.7;
	width: 3.2em;
	height: 3.2em;
}

.Data {
	position: relative;
	top: 2em;
	opacity: 0;
	transition: all 1s ease-in;
	color: #fff;
}
.Data.active {
	position: relative;
	opacity: 1;
	top: 0;
	transition: all 1s ease;
}

.data-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Data .card-head {
	position: relative;
	bottom: -0.5em;
	font-size: 1.3rem;
	font-family: "Josefin Sans", sans-serif;
	color: #b2a2b7;
}

.Data .card-data {
	font-size: 1rem;
	font-family: "Josefin Sans", sans-serif;
	padding: 0 1em;
}

.loader {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader * {
	margin-inline: 1em;
	transform-origin: center;
	transform: scale(0.8);
	cursor: pointer;
}

.products {
	position: relative;
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-viewer {
	position: relative;
	width: 100%;
	font-size: 1rem;
	height: 30em;
	/*border: 1px solid white;*/
	overflow: hidden;
}

.sample {
	position: absolute;
	opacity: 0;
	left: 5em;
	transition: all 1.5s ease-out;
	height: inherit;
	width: inherit;
}
.sample.active {
	position: absolute;
	opacity: 1;
	left: 0;
	transition: all 2s ease;
}
.sample a {
	position: absolute;
	height: inherit;
	width: auto;
	z-index: 4;
}
.product-img {
	position: relative;
	height: inherit;
	width: auto;
}
.shifter {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding-right: 2em;
	justify-content: flex-end;
	/*border: 1px solid white;*/
}
.go {
	z-index: 6;
	cursor: pointer;
	transform-origin: center;
	transform: scale(0.7);
}

@media only screen and (max-width: 1200px) {
	.introlower {
		flex-direction: column;
		align-items: flex-start;
	}
	.man {
		bottom: 0;
		left: -0.5em;
	}
	.manapp {
		width: 80%;
		height: auto;
	}
	.manapp > * {
		margin-block: 1em;
	}
	.play,
	.pause {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.intro {
		padding-bottom: 0em;
	}
	.introMsg {
		padding-right: 7em;
	}
}

@media only screen and (max-width: 800px) {
	.body {
		flex-direction: column;
		justify-content: center;
		padding: 0;
		width: 100vw;
		overflow-y: hidden;
	}
	.introbody,
	.productIntro {
		width: 100%;
	}
	.introbody {
		padding-left: 2em;
		padding-top: 2em;
	}
	.intro {
		padding-inline: auto;
	}
	.introMsg {
		padding-right: 2em;
	}
	.introlower {
		flex-direction: column;
		align-items: flex-start;
	}
	.man {
		bottom: 0;
		left: -0.5em;
	}
	.manapp {
		width: 80%;
		height: auto;
	}
	.play,
	.pause {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.manapp > * {
		margin-block: 1em;
	}
	.products {
		width: 100%;
	}
	.card-viewer {
		height: 20em;
	}
	.go {
		transform: scale(0.5);
	}
}
